body {
	font-family: "Open Sans", arial, sans-serif;
	font-size: 11pt;
	font-weight: 400;
	color: #050506;
}

body > header {
	height: 190px;
	line-height: 150px;
	background: #f8f8f6;
	padding: 20px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

body > header.scrolled {
	height: 70px;
	line-height: 50px;
	padding: 10px 20px;
}

body > header h1 {
	margin: 0 0 0 25pt;
	background: url('../img/logo.lg.png') no-repeat;
	background-size: 100% 100%;
	height: 150px;
	width: 500px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

body > header.scrolled h1 {
	background: url('../img/logo.xs.png') no-repeat;
	background-size: contain;
	height: 50px;
}

body > header h1 span {
	visibility: hidden;
}

nav {
}

nav ul {
	float: right;
	margin-right: 25pt;
	list-style: none;
}

nav ul li {
	float: left;
	color: #333;
	margin: 0 10pt;
	display: inline-block;
}

nav ul li a {
	color: inherit;
	text-decoration: none;
	position: relative;
	padding: 5px;
}

nav ul li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #e85b4a;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

nav ul li a:hover {
	text-decoration: none;
	color: #e85b4a;
}

body > section {
	margin-left: 50px !important; /* don't like !important but we need it to override bootstrap */
	margin-right: 50px !important;
	margin-top: 50px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px #ddd;
	padding: 20px;
}

body > section header h2 {
	text-align: center;
	margin-bottom: 20px;
	font-family: Dosis, arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 7px;
	font-weight: 300;
}

body > section header h2:before,
body > section header h2:after {
	background: #e85b4a;
	height: 2px;
	content: '';
	width: 100px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 7px; /* should be the same as the letter-spacing */
}

aside {
	text-align: right;
	line-height: 25px;
}

section > article, section > form {
	border-left: 1px solid #e85b4a;
	padding: 0 20px;
}

@media (min-width: 970px) { 
	section#introduction > article {
		border-right: 1px solid #e85b4a;
		border-left: 0;
	}
}

body > section section {
	margin: 20px 0;
}

section#introduction {
	margin-top: 250px;
}

footer {
	text-align: center;
	font-size: 11pt;
	margin: 20pt 0 0 0;
	padding: 20pt;
	background: #f8f8f6;
}

h1 {
	font-size: 20pt;
}

h1 a {
	color: inherit;
}

h2 {
	color: #e85b4a;
	font-size: 16pt;
}

h2 a {
	color: inherit;
}

h2 a:hover {
	color: inherit;
	text-decoration: none;
}


h3 em {
	color: #e85b4a;
	font-style: normal;
}

p {
	line-height: 25px;
}

p a, article a {
	color: #e85b4a;
	text-decoration: none;
}

p a:hover, article a:hover {
	color: inherit;
	text-decoration: inherit;
}

section#introduction aside {
	text-align: center;
}

img#me {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px #ddd;
}

aside.image img {
	width: 100%;
	border: 1px solid #ddd;
	box-shadow: 0px 0px 5px #ddd;
}

article > section.project {
	margin: 0;
	padding: 0;
}

div.timeframe {
	text-align: center;
	line-height: 25px;
	color: #999;
}

form label {
	float: left;
	font-weight: 400;
	font-size: 9pt;
}

form input, form textarea {
	clear: both;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

form input[type="submit"] {
	color: white;
	background-color: #e85b4a;
	border: 0;
	border-radius: 5px;
	height: 20pt;
}